@CHARSET "UTF-8";
#print-preview{margin:10px auto;padding:10px;width:95%;background:#fff;position:relative;border:1px solid #000;box-shadow:5px 5px 0px 0px #000;}
@media print
{
	#menu,#footer{display:none !important;}
	.no-print{display:none !important;}
	#content, .wrap{margin:0;padding:0;}
	#print-preview{width:100%;margin:0;display:block !important;position:absolute;top:0;right:0;left:0;border:0;}
}