@CHARSET "UTF-8";
#employee-check{width:800px;margin:0 auto;background:#fff;padding:10px;}
#employee-check .row{clear:both;overflow:hidden;}
#employee-check #employee-image{float:left;width:30%;text-align:center;}
#employee-check #employee-image img{max-width:100%;}
#employee-check #employee-image img:after{content:" ";border:1px solid #bcbcbc;padding:10px;}
#attendance-message{font-weight:bold;font-size:20px;text-align:center;}
#employee-check #check-modes{float:right;width:65%;padding:10px;}
#employee-check #check-buttons{/*float:left;width:50%;*/overflow:hidden;}
#employee-check #check-clock{float:right;width:50%;text-align:center;}
#employee-check .form-group{margin:0 0 10px 0;}
#employee-check .form-control{width:100%;padding:3px;}
#employee-check #pin{font-size:25px;}
#employee-check .btn{}
.btn-check{float:left;width:150px;height:100px;margin:10px;text-align:center;text-decoration:none !important;line-height:100px;font-weight:bold;font-size:20px;}
.btn-check:hover{text-decoration:none;color:#000 !important;}
.btn-check-in
{
	color:#fff !important;
	background:#6aa201;
}
.btn-check-out
{
	color:#fff !important;
	background:#f3512b;
}
.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff !important;
}
.btn-warning{background:#f0ad4e;color:#fff !important;}
.btn-info{background:#5bc0de;border:1px solid #46b8da;color:#fff !important;}
#check-modes{}
#check-modes .btn{width:100%;}