@CHARSET "UTF-8";
.col-image{}
.col-image .thumb-container{display:block;position:relative;width:55px;height:55px;overflow:hidden;}
.col-image .thumb-container img{max-width:100%;}

.float-table-wrap{overflow:auto;}
.float-table{width:100%;height:100%;position:relative;display:table;border-collapse:collapse;}
.float-table .trow{display:table-row;clear:both;width:100%;height:auto;overflow:hidden;border-bottom:1px solid #e8e8e8;}
.float-table .trow:focus{background:#ececec;}
.float-table .col{padding:5px 4px;display:table-cell;width:auto;}
.float-table .table-header{overflow:hidden;display:table-header-group;width:100%;position:sticky;top:0;}
.float-table .table-header .col{font-weight:bold;background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);text-align:center;text-shadow:0 1px 0 #fff;border:1px solid #ccc;display:table-cell;}
.float-table .table-body{display:table-row-group;background:#fff;min-height:200px;width:100%;height:100%;overflow:auto;border:1px solid #ececec;}
.float-table .table-body .col{/*border-bottom:1px solid #e8e8e8;*/line-height: 25px;}
