@CHARSET "UTF-8";
#product-gallery{overflow:auto;height:350px;}
#product-gallery .product-image{position:relative;display:block;width:150px;height:150px;float:left;margin:0 8px 8px 0;}
#product-gallery .product-image .buttons{position:absolute;top:0;right:0;width:25px;text-align:center;}
#product-gallery .product-image .buttons .btn{clear:both !important;display:block;}
#product-gallery .product-image .featured{display:block;background:#449bd0;color:#fff;text-align:center;position:absolute;right:0;bottom:0;left:0;height:30px;}
.dropdown.dropdown-categories{list-style:none;padding:0;}
