@CHARSET "UTF-8";
#pos-container{background:#fff;font-size:12px;}
#pos-container.full-screen{/*position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;overflow:auto;*/}
#pos-menu-container{clear:both;width:100%;background:#555;color:#fff;}
#pos-menu-container #pos-menu{float:left;list-style:none;padding:0;margin:0;}
#pos-menu-container #pos-menu li{float:left;position:relative;background:#555;color:#fff;}
#pos-menu-container #pos-menu li a{display:block;color:#fff;text-align:center;padding:4px;font-weight:bold;}
#pos-menu-container #pos-menu li ul{background:inherit;}
#pos-menu-container #pos-menu li ul li{float:none;width:100%;display:block;}
#pos-menu-container #pos-menu li ul li a{text-align:left;}
#pos-menu-container #pos-menu li ul li a:hover{color:#555;}
#pos-menu-container #the-store{display:block;color:#fff;text-align:center;padding:4px;}
#pos-menu-container #the-store a{color:inherit;}
#pos-menu-container #powered{float:right;color:#fff;font-weight:bold;padding:4px;text-align:right;}
#categories ul{clear:both;list-style:none;margin:0;padding:0;}
#categories li{float:left;}
.list-layout{}
.list-layout #products{border:1px solid #e8e8e8;}
/*
.list-layout .pos-table{width:100%;height:60%;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8;}
.list-layout .pos-table tbody{overflow:auto;border-bottom:1px solid #e8e8e8;background:#fff;}
.list-layout .pos-table tbody tr td{padding:5px 5px;}
.list-layout .pos-table tbody tr{border-bottom: 1px solid #e8e8e8;}
.list-layout .pos-table .column-image{width:95px;text-align:center;}
.list-layout .pos-table .column-id{text-align:center;}
.list-layout .pos-table .column-product{text-align:left;width:40%;}
.list-layout .product-image{width:90px;height:90px;display:block;text-align:center;}
.list-layout .product-image img{max-width:100%;}
*/
/** table totals styles **/
.pos-table-totals{width:100%;}
.pos-table-totals th{}
.pos-table-totals th, .pos-table-totals td{text-align:right;padding:5px 4px;font-size:18px;border-bottom:1px solid #e8e8e8;}
#pos-order-table-container{}
#pos-order-table{}
#order-actions{float:right;}

.pos-table{width:100%;height:100%;/*display:table;*/position:relative;}
.pos-table .trow{/*display:table-row;*/clear:both;width:100%;height:auto;overflow:hidden;border-bottom:1px solid #e8e8e8;}
.pos-table .col{padding:5px 4px;/*display:table-cell;*/float:left;}
.pos-table .table-header{overflow:hidden;/*display:table-header-group;*/float:left;width:100%;height:30px;}
.pos-table .table-header .col{font-weight:bold;background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);text-align:center;text-shadow:0 1px 0 #fff;border:1px solid #ccc;}
.pos-table .table-body{float:left;width:100%;height:100%;overflow:auto;/*display:table-row-group;position:absolute;top:30px;right:0;bottom:0;left:0;*/border:1px solid #ececec;}

.pos-table .table-body .col{/*border-bottom:1px solid #e8e8e8;*/line-height: 25px;}
.list-layout{overflow:hidden;height:100%;}
.list-layout .pos-table .row.odd{background:#f9f9f9;}
/** grid layout styles **/
.grid-layout{border:1px solid #ececec;padding:8px;overflow:auto hidden;}
.grid-layout .product{width:100px;display:block;float:left;margin:0 5px 5px 0;text-align:center;}
.grid-layout .product .product-name{font-weight:bold;display:block;}
/** products table styles **/
#products-table .column-image{width:95px;}
#products-table .column-image a{display:block;position:relative;width:100%;height:100px;}
#products-table .column-id{width:10%;}
#products-table .column-product{width:40%;}
#products-table .column-qty{width:15%;text-align:center;}
#products-table .column-price{width:15%;}
#products-table .column-add{width:7%;}
#products-table .table-body .column-price{text-align:right;}

/** order items styles **/
#pos-order-table .col-qty{width:12%;text-align:center;}
#pos-order-table .col-qty input{width:100%;text-align:center;}
#pos-order-table .col-product{width:52%;}
#pos-order-table .col-price{width:15%;text-align:right;}
#pos-order-table .col-price input{text-align:right;width:100%;}
#pos-order-table .col-total{width:15%;text-align:right;}
#pos-order-table .col-delete{width:6%;text-align:center;}
#pos-order-table .col-delete a{display:block;background:url(../images/delete-icon-24x24.png) center center;}
#pos-order-table-container{/*border:1px solid #ececec;*/}
#table-order-items input{border:1px solid #dbdbdb;border-radius:5px;background:#fafafa;padding:0 3px;}
#table-order-items input:focus{border-radius:5px;border-color: #66afe9;}
input[type=text]:focus,input[type=number]:focus{background-color:#FFFF90;}
