@CHARSET "UTF-8";
/**
Template Name: Angle
Template Author: Sintic Bolivia
Template Url: http://sinticbolivia.net
**/
.wrap{margin:0 -15px;}
.page-buttons{text-align:right;}
.sb-suggestions{top:29px !important;}
.datepicker-container{position:relative;display:inline-block;}
.datepicker-container:after{content: "\e075";font-family:simple-line-icons;position:absolute;top:-4px;right:5px;font-size:19px;}
